<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="https://www.linkedin.com/in/sharonhuangseo/">Sharon</a>. An SEO professional who is trying to learn how to code. This is the very first web application she built in her coding class. 
   </p>
   <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
   </p>

 <div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'sharon_seo_professional.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Sharon Huang</h2>
    <br />
    <p>
      Sharon Huang is a passionate digital marketing professional who works at a software company. She has experienced in Search Engine Optimization (SEO), Technical SEO, App Store Optimization (ASO) and more. Currently, she is trying to develop her skill sets further in order to be a full-stack developer.
    </p>
  </div>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />